<p>
      <em>Commenter:</em> <%= comment.commenter %>
      <em>Comment: </em> <%= comment.body %>
</p>

<p>
  <%= link_to 'Destroy Comment', [comment.post, comment], method: :delete, data: {confirm: 'Are you sure?'} %>
</p>