<% provide(:title, 'America\'s Home') %>

  <div class = "jumbotron">
    <div class = "container">
        <h1>American Glory</h1>
        <p class = "lead">The Land of the Free, and the Home of the Brave</p>
        <!-- <div class = "row"> -->
          <!-- <img src = "/assets/american-flag-eagle-wallpaper.jpg" class = "img-responsive"> -->
    </div>
  </div>

  <div class = "container">
    <div class = "row">
      <div class = "col-md-6">
        <%= link_to "My Posts", posts_path, :class => "btn btn-primary btn-block" %>
        <!-- <p class = "lead">See the best America posts and comments!</p> -->
      </div>

      <div class = "col-md-6">
        <%= link_to "Make a New Post", new_post_path, :class => "btn btn-danger btn-block"%>
      </div>

    </div>
  </div>
