<div class = "page-header">
  <h1> H1 Bootstrap Heading <small> Test Message </small></h1>
</div>
  <h2> H2 Bootstrap Heading </h2>
  <h3> H3 Bootstrap Heading </h3>
  <h4> H4 Bootstrap Heading </h4>
  <h5> H5 Bootstrap Heading </h5>
  <h6> H6 Bootstrap Heading </h6>

  <p> Normal paragraph </p>
  <p class = "lead"> Lead class paragraph </p>

  <p><b> Bold Text </b></p>
  <p><big>Big Test </big></p>
  <p><code> Code text </code></p>
  <p><em>Emphasized text </em></p>
  <p><i> Italicized Text </i></p>
  <p><small>This is small test </small></p>
  <p><strong>This is strongly emphasized text </strong></p>
  <p> This is <sub>subscript text</sub> and this is <sup>superscript text </sup></p>
  <p> <ins> This text is inserted into the document </ins></p>
  <p><del> This dext is deleted from the document </del></p>

  <blockquote>
     <p>A wise man once said, 'Who gives a fuck?'</p>
     <p><cite> David Han </cite></p>
   </blockquote>