<% provide(:title, "Edit a Post") %>
<div class = "container">
  <div class = "row">
    <div class = "span4">
      <h1> Edit Posts </h1>
      <p> Well, let's see what this post is suppossed to look like </p>
      <%= render 'form' %>
      <%= link_to "Back", posts_path %>
      <%= link_to "Edit", edit_post_path %>
    </div>
  </div>
</div>